@import "../css/variables.module.css";

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-heading-primary);
    transition: color 0.5s ease-out;
    font-family: Roboto;
}

body {
    font-family: Lato;
    background: var(--color-background);
    transition: background 0.5s ease-out;
}

.layout-body {
    color: var(--color-foreground);
    transition: color 0.5s ease-out, background 0.5s ease-out;
    overflow: hidden;
}

.container--wide {
    max-width: 1200px;
}

.list--unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

section {
    padding: 1.75em 0;
    transition: background 0.5s ease-out;
}

@media (min-width: 700px) {
    section {
        padding: 3em 0;
    }
}

section:nth-of-type(even) {
    background: var(--color-background-secondary);
}
