@import "../css/variables.module.css";

.list-unstyled {
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    list-style: none;
}

.container {
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
    max-width: 1200px;
}

.container--small {
    max-width: 650px;
}

.home__flexwrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (min-width: 700px) {
    .home__flexwrap {
        flex-wrap: nowrap;
    }
}

.home__header {
    flex: 0 0 100%;
}

.home__header h2 {
    margin-bottom: 1em;
}

@media (min-width: 700px) {
    .home__header h2 {
        margin-bottom: 2em;
    }
}

@media (min-width: 700px) {
    .home__header {
        flex: 0 0 250px;
        padding: 0 2em 0 0;
    }
}

.home__body {
    overflow: hidden;
    flex: 0 0 100%;
}

@media (min-width: 700px) {
    .home__body {
        flex: 1 1 auto;
    }
}

.heading-secondary {
    color: var(--color-heading-secondary);
    transition: color 0.5s ease-out;
}
